{% extends "base.jinja2" %}

{% block content %}

<h1> Events </h1>

Les frá Kex, Mengi, Húrra og Gamla Bíó

{% for item in events %}

<div class="thumbnail">
  <img src="{{ item["cover"] }}">
    <div class="thumbnail_legend"> 
      <h2><a href="https://facebook.com/events/{{item["id"]}}/">{{ item["name"] }}</a></h2>
      <p>Á <i>{{ item["place"]["name"] }} {{ item["pretty_date"] }} kl. {{ item["pretty_time"] }}</i></p>
    </div>
</div>

<!--<p>{{ item["description"] }}</p>-->


{% endfor %}

{% endblock %}
